@media (max-width: 768px) {
  .small-menu-navbar [role=button]{
    margin-right: 0px;
  }
}

@media (min-width: 1200px) {
  .small-menu-navbar {
    display: none !important;
  }
}
/* NavBar */
.small-menu-navbar {
  text-align: right !important;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  display: block;
}

.small-menu-navbar ul {
  left: 0;
  z-index: 100;
  display: block;
}

.small-menu-navbar [role=button]{
  display: inline-block !important;
}

.large-menu-navbar{
  text-align: right !important;
}
