html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #eeeeee;
  overflow-x: hidden;
}

.container-custom {
  margin: 0;
  padding: 0;
}

.content {
  z-index: 30;
  position: relative;
  background-color: white;
}
